---
---

@import "{{ site.theme }}";
/* Assombrir le fond et personnaliser la typo */
body {
  //font-family: 'Helvetica Neue', Arial, sans-serif !important;
  //font-family: 'Nunito Sans', sans-serif !important;
  font-family: Georgia, "Times New Roman", "Merriweather", serif !important;
  font-weight: 400; /* Poids normal */
  font-size: 20px !important; 
  line-height: 1.6; /* Espacement optimal pour la lisibilité */
  color: #eaeaea;
}


/* Agrandir la fenêtre d'écriture **
.main-content,
.page-content,
.post-content {
  max-width: 1200px !important; 
  min-width: 600px !important; 
  margin: 0 auto !important;
  padding: 2em !important;
  font-size: 1.1em !important;
}

/* Personnaliser les liens pour un meilleur contraste *
a {
  color: #4dabf7 !important;
}

/* Assombrir l'en-tête *
.site-header {
  background-color: #111 !important;
  border-bottom: 1px solid #333 !important;
}
/***/ 

